/******* Bootstrap Theming ********/

$primary: #A58ECF;
$secondary: #E6E6FA;
$light: #FFFFFF;
$dark: #9d84b9;
$resalt: #4b596d;

$font-family-sans-serif: 'Montserrat', sans-serif;

$headings-font-weight: 400;

$body-bg: $light;

$body-color: #6c757d;

$headings-color: $dark;

$headings-font-weight: 600;

$enable-responsive-font-sizes: true;

$enable-rounded: false;

$border-width: 2px;

@import "bootstrap/scss/bootstrap";


/********** Template CSS ************/
.font-secondary {
    font-family: 'Great Vibes', cursive;
}

.btn-square {
    width: 40px;
    height: 40px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 50px;
    height: 50px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.scroll-to-bottom {
    position: fixed;
    width: 20px;
    left: calc(50% - 10px);
    bottom: 30px;
    z-index: 11;
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
}

.back-to-top {
    position: fixed;
    display: none;
    text-align: center;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

.navbar-dark {
    display: none;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 25px 10px;
    color: $light;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: $resalt;
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.section-title {
    margin-bottom: 30px;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    bottom: 11px;
    left: calc(50% - 80px);
    background: $resalt;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    bottom: 11px;
    right: calc(50% - 80px);
    background: $resalt;
}

.btn-play {
    position: relative;
    margin-top: 50px;
    display: block;
    box-sizing: content-box;
    width: 16px;
    height: 26px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 18px 20px 20px 28px;
    background: $light;
}

// .btn-play:before {
//     content: "";
//     position: absolute;
//     z-index: 0;
//     left: 50%;
//     top: 50%;
//     transform: translateX(-50%) translateY(-50%);
//     display: block;
//     width: 60px;
//     height: 60px;
//     background: $light;
//     border-radius: 100%;
//     animation: pulse-border 1500ms ease-out infinite;
// }

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: $light;
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: -1px;
    border-left: 16px solid $primary;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}

// @keyframes pulse-border {
//     0% {
//         transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
//         opacity: 1;
//     }

//     100% {
//         transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
//         opacity: 0;
//     }
// }

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
    background: #000000;
    opacity: 1;
}

.timeline .row {
    position: relative;
    margin-bottom: 30px;
}

@keyframes latido {

    0%,
    100% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(0.95);
    }

    75% {
        transform: scale(1.1);
    }
}

.heart-beat {
    animation: latido 1.2s infinite;
    transform-origin: center;
    display: inline-block;
    /* importante para que escale bien */
}

@media (min-width: 220px) {
    .timeline::after {
        position: absolute;
        content: "";
        width: 2px;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -1px;
        background: $primary;
    }

    .timeline .row::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        top: calc(50% - 15px);
        left: calc(50% - 15px);
        background: $light;
        border: 2px solid $primary;
        transform: rotate(45deg);
        z-index: 1;
    }

    .timeline .row::after {
        content: "\f004";
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 8px);
        color: $primary;
        z-index: 2;

        font-size: 16px; // Puedes ajustar el tamaño si lo deseas
        display: inline-block; // ⚠️ Esta línea es imprescindible
        transform-origin: center;
        animation: latido 1.2s infinite;
    }
}

.gallery-item {
    position: relative;
    overflow: hidden;
}

.gallery-item img {
    transition: .5s;
}

.gallery-item:hover img {
    transform: scale(1.2);
}

.gallery-item a {
    position: absolute;
    width: 60px;
    height: 60px;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $light;
    text-decoration: none;
    transition: .5s;
    opacity: 0;
}

.gallery-item:hover a {
    opacity: 1;
}

.bg-gallery {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/familia_3d.png), no-repeat center center;
    background-size: contain
}

.gallery-carousel .owl-nav {
    position: absolute;
    width: 135px;
    height: 60px;
    top: -90px;
    left: calc(50% - 67px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.gallery-carousel .owl-nav .owl-prev,
.gallery-carousel .owl-nav .owl-next {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $resalt;
    background: $light;
    font-size: 30px;
}

/********** Music Button **********/
// Animación para el ícono
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

.music-button {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $light;
    border: 3px solid $primary;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, background 0.3s;
    z-index: 9999;

    img {
        width: 28px;
        transition: filter 0.3s;
    }

    &.active {
        background: $primary;
        transform: scale(1.1);

        img {
            filter: invert(1);
            animation: pulse 1s infinite ease-in-out;
        }
    }
}

#contact {
    p a {
        color: $resalt !important;
        font-weight: 600;
    }
}

#navbar {
    a span {
        color: $resalt !important;
        font-weight: 600;
    }
}

#countdown-section {
    position: absolute;
    bottom: 80px !important;
    z-index: 10;

    #countdown {
        background: rgba(255, 255, 255, 0.95);
        border-radius: 15px;
        padding: 0.75rem 1rem;
        max-width: 500px;
        margin: auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    #countdown h2 {
        font-size: 2.2rem;
    }

    #countdown p {
        font-size: 0.9rem;
    }
}

#countdown-section h1 {
    color: #ecdef4;
    font-size: 2.5rem;
    font-family: 'Great Vibes', cursive;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.calendar-decorativo {
    background-color: #fffaf9; // fondo rosado claro elegante
}

.calendar-header {
    font-size: 2.5rem;
    color: $dark;
    font-family: 'Great Vibes', cursive;
    font-weight: 600;
}

.calendar-day {
    font-size: 3rem;
    font-weight: 400;
    color: $dark;
}

.line {
    border-top: 2px solid $dark;
    border-bottom: 2px solid $dark;
}

.calendar-box img {
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-transparent {
    color: #ecdef4 !important;
    font-weight: 700 !important;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4) !important;
}

@media (max-width: 767.98px) {
    #event .border-right {
        border-right: none !important;
    }

    .font-size-mobile {
        font-size: 13px !important;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Estilo página de sobre */
/* Estilos generales para la pantalla de invitación */
body.intro-page {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom, #f7edff, #f4e8fa);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-container {
    text-align: center;
    max-width: 600px;
    width: 90%;
}

.titulo-invitacion {
    font-size: 2.5rem;
    color: #6a1b9a;
    margin-bottom: 2rem;
}

.envelope-btn {
    display: inline-block;
    text-decoration: none;
}

.sobre-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    transition: transform 0.3s ease;
}

.envelope-btn:hover .sobre-img {
    transform: scale(1.05);
}

.click-text {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: #6a1b9a;
    font-weight: 600;
    animation: pulse 1.8s infinite;
    font-family: 'Great Vibes', cursive;
    ;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.8;
        transform: scale(1.05);
    }
}

@media (max-width: 480px) {
    .titulo-invitacion {
        font-size: 1.8rem;
    }

    .click-text {
        font-size: 1rem;
        font-family: 'Great Vibes', cursive;
        ;

    }

    .sobre-img {
        max-width: 450px;
    }
}

.envelope-btn {
    position: relative;
    display: inline-block;
    text-align: center;
}

.sobre-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
}

.nombre-invitado {
    position: absolute;
    bottom: 145px;
    /* ajusta verticalmente */
    left: 55%;
    transform: translateX(-50%);
    padding: 10px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    z-index: 2;
    white-space: nowrap;
    font-family: 'Great Vibes', cursive;
    ;
}

@media (max-width: 750px) {
    .nombre-invitado {
        position: absolute;
        bottom: 115px;
        /* ajusta verticalmente */
        left: 50%;
    }
}